/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these directives here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation
 */
@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
:root {
  --primary-green: #0A2E36;
  --white: #FFFFFF;
  --accent-green: #1C6E7D;
}

body {
  font-family: 'Inter', sans-serif;
}

